<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>HolaMundo</servlet-name>
        <servlet-class>es.albarregas.servlets.HolaMundo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CicloVida</servlet-name>
        <servlet-class>es.albarregas.servlets.CicloVida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Parametros</servlet-name>
        <servlet-class>es.albarregas.servlets.Parametros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cabeceras</servlet-name>
        <servlet-class>es.albarregas.servlets.Cabeceras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formulario</servlet-name>
        <servlet-class>es.albarregas.servlets.formulario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formularioCompleto</servlet-name>
        <servlet-class>es.albarregas.servlets.formularioCompleto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registro</servlet-name>
        <servlet-class>es.albarregas.servlets.registro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HolaMundo</servlet-name>
        <url-pattern>/HolaMundo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CicloVida</servlet-name>
        <url-pattern>/CicloVida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Parametros</servlet-name>
        <url-pattern>/Parametros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cabeceras</servlet-name>
        <url-pattern>/Cabeceras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formulario</servlet-name>
        <url-pattern>/formulario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formularioCompleto</servlet-name>
        <url-pattern>/formularioCompleto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registro</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
</web-app>
